
body {
    background-color: #ffd1dc;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 2.5em;
    color: #b30059;
}
h2 {
    font-size: 2em;
    color: #800040;
}
p {
    font-size: 1.2em;
}
.recept {
    margin: 30px auto;
    padding: 20px;
    max-width: 600px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}
img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

/* Navigační lišta */
nav {
    background-color: #800040;
    padding: 10px;
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    margin: 0 20px;
}
nav a:hover {
    text-decoration: underline;
}
