/* Základní styl pro celou stránku */
body {
    font-family: Arial, sans-serif;
    background-color: #f8e0e6; /* Světle růžová barva pozadí */
    color: #333;
    margin: 0;
    padding: 0;
}

/* Styl pro hlavičku */
header {
    background-color: #f1c1d1; /* Světlejší růžová */
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 3em;
    margin: 0;
}

/* Styl pro sekci O nás */
.about {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2em;
    color: #d15e91; /* Růžová barva pro nadpisy */
}

/* Styl pro seznam kategorií */
.categories ul {
    list-style-type: none;
    padding: 0;
}

.categories ul li {
    margin: 10px 0;
}

.categories a {
    text-decoration: none;
    font-size: 1.5em;
    color: #d15e91; /* Růžová barva pro odkazy */
    transition: color 0.3s ease;
}

.categories a:hover {
    color: #b13b70; /* Tmavší růžová při hoveru */
}

/* Styl pro patičku */
footer {
    text-align: center;
    background-color: #f1c1d1;
    padding: 10px;
    margin-top: 20px;
}

footer p {
    margin: 0;
}
